#signupForm {
    width: 100%;
}

#signupForm label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
}
form.cmxform label.error,
label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic
}

input.error , #message.error {
    border: 1px dotted red;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.modal-content {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}
.sort{
    color: black !important;
    text-decoration: none !important;
}
.label-sel {
    
    display: inline-flex !important;
}
.right{
    float: right !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
}